.modal-1 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-1.open {
    display: flex !important;
}

.modal-1 .modal-1-close i{
    float: right;
    padding: 20px 10px;
    color: #ccc;
}

.modal-1 .modal-1-close i:hover{
    color: #000;
    opacity: 0.8;
}

.modal-1 .modal-1-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 100px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4;
}

.modal-1 .modal-1-header {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.modal-1 .modal-1-body .search-control {
    margin-bottom: 10px;
}

.modal-1 .modal-1-body label {
    padding-right: 10px;
    font-weight: bold;
}

.modal-1 .modal-1-table {
    padding: 10px;
    width: 100%;
}

.modal-1 .modal-1-table thead th {
    border-bottom: 1px solid #ccc;
}

.modal-1 .modal-1-table tbody  {
    background-color: #ccc;
    opacity: 0.4;
}

.modal-1 .modal-1-table tbody:hover  {
    opacity: 0.7;
}

.modal-1 .modal-1-table tbody td {
    color: #000;
    text-align: center;
    padding : 8px;
}

.modal-1 .modal-1-footer {
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
    position: relative;
    min-height: 30.91px;
}

.modal-1 .modal-1-footer button {
    padding: 6px 12px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.modal-1 .modal-1-footer button:hover {
    opacity: 0.8;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}