.container-fluid {
    width: 1400px;
    margin: auto;
}

.container-fluid thead th {
    vertical-align: middle;
}

.container-fluid tbody td {
    vertical-align: baseline; 
}

.container-fluid tbody td button {
    display: block;
    margin: 4px;
}