.container-lg,
.container-fluid {
    width: 1400px;
    margin: auto;
}

.container-lg thead th,
.container-fluid thead th {
    vertical-align: middle;
    padding: 10px;
}

.container-lg tbody td,
.container-fluid tbody td {
    vertical-align: baseline; 
    padding: 10px;
}

.container-lg tbody td button,
.container-fluid tbody td button {
    display: block;
    margin: 4px;
}

